@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #131312;
  font-family: "Poppins", sans-serif;
  display: flex;
}

main {
  width: 1600px;
  height: 1200px;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

main .left_bx1,
.right_bx1 {
  width: 65%;
  height: 100%;
  border: 1px solid #fff;
  background: #0b1320;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .left_bx1 {
  width: 35%;
  background: #fff;
  box-shadow: 5px 0px 2px #090f1f;
}

main .right_bx1 {
  width: 65%;
  background: #fff;
  box-shadow: 5px 0px 2px #090f1f;
  flex-direction: column;
  background: #0b1320;
}

main .left_bx1 .content {
  width: 75%;
  height: auto;
  border: none;
  padding: 25px 20px;
  background: #fff;
}

main .left_bx1 .content .card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

main .left_bx1 .content .card label {
  font-size: 14px;
}

main .left_bx1 .content .card input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid rgb(154, 154, 154);
  background: rgb(238, 238, 238);
  margin-top: 5px;
}

main .left_bx1 .content .submit {
  margin-top: 30px;
  padding: 8px 20px;
  color: #fff;
  background: #111727;
  width: 100%;
  cursor: pointer;
}

/* main .left_bx1 .content .check {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

main .left_bx1 .content .check span {
  margin-left: 5px;
  font-size: 13px;
} */

main .left_bx1 .content p {
  margin-top: 90px;
  text-align: center;
  font-size: 13px;
}

main .left_bx1 .content p a {
  text-decoration: none;
  color: #5adae0;
  font-weight: bold;
}

main .right_bx1 h3 {
  background: #5adae0;
  color: #000;
  right: 0;
  bottom: 20px;
  padding: 3px 10px;
  border-radius: 5px 0px 0px 5px;
  font-size: 13px;
  visibility: hidden;
}

@media only screen and (max-width: 570px) {
  main .left_bx1 .content .submit {
    margin-top: 30px;
    padding: 5px 5px;
    color: #fff;
    background: #111727;
    width: 100%;
    cursor: pointer;
  }
}
