@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #131312;
  font-family: "Poppins", sans-serif;
  display: flex;
}

main {
  width: 1600px;
  height: 1200px;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

main .menu_side,
.song_side {
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background-color: #111727;
  box-shadow: 5px 0px 2px #090f1f;
  color: #fff;
}

main .menu_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .song_side {
  width: 75%;
  background-color: #0b1320;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
